<!DOCTYPE html>
<html>
<head>
  <title>Upcchat</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="https://js.pusher.com/2.2/pusher.min.js" type="text/javascript"></script>

	<script type="text/javascript">
    // Enable pusher logging - don't include this in production
    Pusher.log = function(message) {
      if (window.console && window.console.log) {
        window.console.log(message);
      }
    };

    var pusher = new Pusher('50e2011e3d165efe89a1');
    var channel = pusher.subscribe('UPCchat2014');
    channel.bind('message:create', function(data) {
    	//console.log(data)  //alert(data.content); cquispe
       // alert(data.content);
       var message = "<li id = 'mesage_" + data.id + "'>"
       message += data.name + ": " + data.content
       message += "</li>"
		$('#chat_container').append(mesage);
		$('#message_content').val("");
		$('#message_content').focus("");


    });
  </script>

</head>
<body>

<%= yield %>

</body>
</html>
